<div class="article-link">
  <div class="article-link__date">
    <time>1.JAN 2020</time>
  </div>
  <header class="article-link__header">
    <h3 class="article-link__heading">En post om Javascript</h3>
  </header>
  <div class="article-link__content">
    <p class="article-link__abstract">
      Noe om denne posten som skaper interesse, og gjør at du trykker på les
      mer.
    </p>
  </div>
  <footer class="article-link__footer">
    <a href="#" class="article-link__link">Les Mer</a>
  </footer>
</div>
