/*------------------------------------*\
  #MAIN HEADER
\*------------------------------------*/

.main-header {
  & .logo {
    z-index: 12;
    position: fixed;
    top: 0;
    background-color: #f5f4dc;
    color: #6a5091;
    width: 65%;

    border-radius: 3px;
    box-shadow: 10px 10px 3px #bfadd9;

    padding: 0.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: background-color 1s cubic-bezier(0.68, -0.55, 0.265, 1.55),
      color 0.3s ease-in, box-shadow 0.3s ease-in;

    text-transform: uppercase;

    & h2 {
      font-size: 0.7rem;
      align-self: flex-start;
      color: #ad378a;
    }

    & h1 {
      font-size: 1rem;
    }

    & h3 {
      font-size: 0.85rem;
      align-self: flex-end;
      color: #ad378a;
    }

    &--active {
      color: #f5f4dc;
      background-color: #6a5091;
    }
  }

  & .menu-btn {
    position: fixed;
    bottom: 2%;
    right: 1.2%;

    z-index: 10;
    color: #f5f4dc;
    background-color: #6a5091;

    width: 33%;
    height: 50px;

    border-radius: 3px;
    box-shadow: 10px 10px 3px #bfadd9;

    padding: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 1s cubic-bezier(0.68, -0.55, 0.265, 1.55),
      color 0.3s ease-in, box-shadow 0.3s ease-in;

    &--active {
      background-color: #f5f4dc;
      color: #6a5091;
    }
  }
}

@media (min-width: 60rem) {
  .main-header {
    z-index: 10;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    & .logo {
      position: relative;
      cursor: pointer;
      margin-top: 2.5vh;
      height: 100px;
      width: auto;

      padding: 1rem;

      & h2 {
        font-size: 1rem;
      }

      & h1 {
        font-size: 1.5rem;
      }

      & h3 {
        font-size: 1.2rem;
      }

      &:hover {
        color: darken(#6a5091, 10%);
      }

      &--active {
        &:hover {
          color: darken(#f5f4dc, 10%);
        }
      }
    }

    & .menu-btn {
      position: relative;
      cursor: pointer;
      margin-top: 2.5vh;
      height: 100px;
      font-size: 3em;
      right: 0;
      width: unset;

      padding: 1rem;

      &:hover {
        color: darken(#f5f4dc, 10%);
        box-shadow: 10px 10px 3px darken(#bfadd9, 10%);
      }

      &--active {
        background-color: #f5f4dc;
        color: #6a5091;

        &:hover {
          color: darken(#6a5091, 10%);
        }
      }
    }
  }
}
