:root {
  font-size: 10px;
  font-family: 'Work Sans', sans-serif;
}

html {
  background-color: #fff;
  border: 25px solid #fff;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (max-width: 500px) {
    border-width: 15px;
  }
  @media (max-width: 370px) {
    border-width: 5px;
  }
}

html, body {
  background-color: $primary-color;
  background-image: url('/images/michaelsimsoehead.svg');
  background-position: 30vw 20vh;
  background-repeat: no-repeat;
  background-size: 40%;
  color: $font-color;
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  // color: #AD378A;
  // color: #38ABE0;
  // color: #BF6900;
  line-height: 1.5;
  padding: 10px;

  @media (max-width: 370px) {
    padding: 5px;
  }
}

h1, h2, h3 {
  color: #6A5091;
  font-family: 'Playfair Display', serif;;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.0rem;
}

a {
  color: $font-color;
  text-decoration: underline;
  text-decoration-color: #AD378A;
}

a:active {
  color: #6A5091; 
}

a:hover {
  color: #AD378A;
}

a:visited {
  color: #38ABE0;
}