.main-navigation {

}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.main-navigation__list {
  align-items: center;
  background-color: rgba($font-color, 0.7);
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  list-style: none;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}

.js .main-navigation__list {
  position: fixed;
  display: none;  
  top: 0;
}

.main-navigation__button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: $font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 4;
  &-active {
    color: #fff;
  }
}

.main-navigation__burger-icon {
  font-size: 5.5rem;
}
.main-navigation__list.is-active {
  display: flex;
}

.main-navigation__item {
  
}
.main-navigation__item a {
  color: #fff;
  display: block;
  font-size: 3rem;
  min-height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem;
  width: 100%;
}

.main-navigation__item.current a {
}

.main-navigation__item.current a:before {
  color: hsla(42, 100%, 85%, .8)
}
