<!DOCTYPE html>
<html lang="no">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="">
  <meta name="msapplication-TileColor" content="">
  <title>michaelsimsoe.no</title>
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $style.Permalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
  {{- block "head" . -}}{{- end }}
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans" rel="stylesheet">
  {{- block "head" . -}}{{- end }}
  <script>
    document.getElementsByTagName('html')[0].classList.add('js');
  </script>
</head>

<body>
  <nav class="main-navigation">
    <button class="main-navigation__button" id="toggle" aria-expanded="false" aria-controls="menu">
      <span class="main-navigation__burger-icon">&#x2630;</span>
    </button>
    <div class="nav-wrapper">
      <ul class="main-navigation__list" id="menu">
        <li class="main-navigation__item current"><a href="./">Hjem</a></li>
        <li class="main-navigation__item"><a href="./">Blogg</a></li>
        <li class="main-navigation__item"><a href="./">Mine prosjekter</a></li>
        <li class="main-navigation__item"><a href="./">Om meg</a></li>
      </ul>
    </div>
  </nav>
  {{ block "header" . -}}{{ end -}}
  {{ block "main" . -}}{{ end -}}
  {{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
  <script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
</body>

</html>