:host {
  width: 100vw;
  height: calc(100vh - 64px);
  position: absolute;
  left: 0;
  top: 64px;
  transform: translateX(110%);
  background-color: #171717;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.open {
    transform: translateX(0%);
  }

  & a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
  }
}
