<article class="blog-content" *ngIf="post$ | async as post">
  <header class="blog-content__header">
    <div class="blog-content__heading-container">
      <h1>{{ post.title }}</h1>
      <small>Av {{ post.author }}, så klart</small>
    </div>
    <div class="article__thero-img">
      <img [src]="post.heroImage" alt="post hero image" />
    </div>
    <div class="article__tags">
      <mks-article-tag
        *ngFor="let tag of post.tags"
        [tag]="tag"
        [ngClass]="'tag-' + tag"
      ></mks-article-tag>
    </div>

    <div class="article__datetime">
      <time [dateTime]="post.date"
        >{{ post.date }} <em>(oppdatert {{ post.updated }})</em></time
      >
      <div class="article__read-time">
        ca. {{ post.readTime }} minutter med lesestoff
      </div>
    </div>
  </header>

  <div class="blog-content__container">
    <scully-content></scully-content>
  </div>
</article>
