::slotted(h1) {
  color: rgb(51, 6, 37);
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.blog-content__header {
  margin-bottom: 40px;
}

.blog-content__heading-container {
  background-color: #f9f9f9;
  padding-top: 100px;
  margin-bottom: 10px;
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;

  h1 {
    font-size: 36px;
  }

  small {
    font-size: 1em;
    margin: 0 auto;
    max-width: 42rem;
  }
}

.article {
  h3 {
    font-size: 1.75rem;
  }

  &__datetime {
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
    color: #707070;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__tags {
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
  }
}

@media (min-width: 768px) {
  .blog-content__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    p {
      font-size: 19px;
    }
  }

  .blog-content__heading-container {
    background-color: #f9f9f9;
    padding-top: 210px;
    margin-bottom: 10px;

    h1 {
      margin-left: auto;
      margin-right: auto;
      max-width: 42rem;
    }
  }

  .article__tags,
  .article__datetime {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    padding-left: 0;
    padding-right: 0;
  }
}
