@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-tomorrow';

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 100%;
  line-height: 1.75;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

.wrapper {
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
}

img {
  max-width: 100%;
  height: auto;
}

mks-blog .blog-content > .blog-content__container > *:not(.code-toolbar) {
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
}

mks-blog {
  .blog-content__filename {
    padding: 0 1em;
    margin: 0.5em 0 -0.5em;
    overflow: auto;
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #2d2d2d;
    border-bottom: 1px solid white;
  }
  .code-toolbar {
    position: relative;

    .toolbar-item {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;

      button {
        color: #fff;
      }
    }
  }
}

@media (min-width: 768px) {
  main.wrapper {
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;

    padding-left: 0;
    padding-right: 0;
  }

  mks-blog .blog-content > .blog-content__container > *:not(.code-toolbar) {
    padding-left: 0;
    padding-right: 0;
  }

  mks-blog .blog-content > .blog-content__container > .blog-content__filename {
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
  }
}
