<main class="main-content">
  <section class="boubles">
    <app-skill-circle skillname="Frontend"></app-skill-circle>
    <app-skill-circle skillname="IxD"></app-skill-circle>
    <app-skill-circle skillname="Design"></app-skill-circle>
    <app-skill-circle skillname="Backend"></app-skill-circle>
  </section>
  <!-- BOUBLES -->
  <section class="articles">
    <app-article-link></app-article-link>
    <app-article-link></app-article-link>
    <app-article-link></app-article-link>
    <app-article-link></app-article-link>
  </section>
  <!-- ARTICLES -->
  <section class="main-content__background" id="m-c__b"></section>
</main>
